*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blogReadTitle{
    margin-top: 80px;
    font-weight: 600;
}
.blogReadInfo{
    padding: 10px;
}
.img{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-image: url('https://s3-alpha-sig.figma.com/img/c441/e9a2/e469601b15b8a2294b76805bbeaded56?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dRyfWt1ABCYtr-y7uEpTF3Yy1kmuJjGKpu-Y10x~jLmnieOXE0Ofncw3f8hOYU83Y3hKH5gyEg3LUrXkNw7EjDgwN3aK0vrqV6DsEeL5-dESN9E~jCKcmngsLGu8Ent2v4k24c8KKaM7VwtIXYzu5CydlceCQTdXJsNsxnG~RmYCN99govWhTDQb0Kmb5h1o~OBFkdwmU7yf50CGWE-q8zxavozwQcbDiV8CDfmu0FDXlGXK3oIY5yb4uPx9tYkLBlNzbesu1IUmpj8rpH0UE4Jzyr0CvFTaYLv4FOzpAy04UQkeVBSNSgBww7kOGAwuLEY0fNPiR63PFp-mFI94gw__');
    background-size: cover;
    background-position: center;
}
.blogReadInfo2{
    width: 60%;
    margin: 60px auto;
    text-align: justify;
}
.blogReadInfo2 p{
    margin: 30px 0;
}
ul{
    padding: 15px 0;
    margin-left: -25px ;
}

li{
    list-style-position: inside;
    margin: 20px  0;

}
.img2{
    width: 100%;
    height: 300px;
    background-image: url('https://s3-alpha-sig.figma.com/img/b704/e9c7/91fa284b6ba8f56825728c556ed218c7?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OhiZfemK-6Gc5h4guVqP1CrB1AITQDqS~1QPS-~bKSVtehK3tYLXC6E4A04wZgHCvHRTt50kQ8Q~7-X9cE-7IMFDfNgFs2QCZXhJoPrgt83YlMAv79UtKIg8kOnAE0uZjW0aagtlXAggcHFfaGx9lBgvbhTnz2eFbA4tmNs2hWQy0qJy4LS5AOKsM8sasxuWJnfMOoI6bp~CbaXkt~zbGO3gkkesKTXLh44zmCrOSPjqOUMrmAl7c2X6XAf9S6WpXBfId5~jW3BxRwKk5Gcr8LG0ItWBgShtUbWpIbhau1TDueGq5vcdC3OE7IpU3LYGnRtHXVxFeR7eiV-OvYP8Rw__');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}